.node
{
    width: 25px;
    height: 25px;

    border: 1px solid rgb(179, 121, 212);
    /* Using inline block as we are storing every row in a separate div */
}

.node-start
{
    background-color: hsl(260, 92%, 59%);
    background-image: url(images/start.png);
    background-position: center;
    background-size: cover;
}

.node-finish
{
    background-color: rgb(255, 255, 255);
    background-image: url(images/end.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.node-wall
{
    border: 1px solid hsl(150, 100%, 50%);
    background-color: hsl(150, 100%, 50%);
}
.node-weight
{
    background-image: url(images/weight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.node-visited
{
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;

    animation-fill-mode: forwards;
}
@keyframes visitedAnimation
{
    0%
    {
        background-color: hsl(0, 100%, 50%);
    }

    50%
    {
        background-color: hsl(270, 100%, 50%);
    }

    75%
    {
        transform: scale(1.2);

        background-color: hsl(300, 100%, 50%);
    }

    100%
    {
        transform: scale(1);

        background-color: hsl(263, 100%, 52%);
    }
}

.node-visitedWeight
{
    animation-name: visitedWeightAnimation;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;

    animation-fill-mode: forwards;
}
@keyframes visitedWeightAnimation
{
    0%
    {
        background-color: rgba(0, 0, 66, .75);
    }

    50%
    {
        background-color: rgba(17, 104, 217, .75);
    }

    75%
    {
        transform: scale(1.2);

        background-color: rgba(0, 217, 159, .75);
    }

    100%
    {
        transform: scale(1);

        opacity: .75;
        background-image: url(images/visitedWeight.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.node-path
{
    animation-name: shortestPathAnimation;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;

    animation-fill-mode: forwards;
}
@keyframes shortestPathAnimation
{
    0%
    {
        background-color: hsl(300, 100%, 50%);
    }

    50%
    {
        background-color: hsl(270, 100%, 50%);
    }

    75%
    {
        transform: scale(1.2);

        background-color: hsl(180, 100%, 50%);
    }

    100%
    {
        transform: scale(1);

        background-color: rgba(255, 255, 255);
    }
}

.node-path-weight
{
    animation-name: shortestPathAnimationWeight;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;

    animation-fill-mode: forwards;
}
@keyframes shortestPathAnimationWeight
{
    0%
    {
        background-color: rgba(69, 240, 240, 0.842);
    }

    50%
    {
        background-color: rgb(241, 63, 18);
    }

    75%
    {
        transform: scale(1.2);

        background-color: rgba(184, 34, 204, 0.75);
    }

    100%
    {
        transform: scale(1);
        background-image: url(images/pathWeight.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}